<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nazmul.metarnalhealth">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".doctors.DoctorsInfoViewActivity"></activity>
        <activity android:name=".mothers.firstaid.Firstaid_Dubejaowa_Protirod_2" />
        <activity android:name=".mothers.firstaid.Firstaid_Dubejaowa_Protirod_1" />
        <activity android:name=".mothers.firstaid.Firstaid_Dubjaowa_Protirod" />
        <activity android:name=".mothers.firstaid.Firstaid_Shishu_Niumonia" />
        <activity android:name=".mothers.firstaid.Firstaid_shishu_Diariya" />
        <activity android:name=".mothers.firstaid.Firstaid_Shishu_Sordikasi" />
        <activity android:name=".mothers.firstaid.FirstaidShishuRogActivity" />
        <activity android:name=".mothers.firstaid.FirstAidPoripurokKhabar" />
        <activity android:name=".mothers.firstaid.FirstaidFistulaActivity" />
        <activity android:name=".mothers.firstaid.FirstAid_Before_7" />
        <activity android:name=".mothers.firstaid.FirstAid_Before_6" />
        <activity android:name=".mothers.firstaid.FirstAid_Before_5" />
        <activity android:name=".mothers.firstaid.FirstAid_Before_4" />
        <activity android:name=".mothers.firstaid.FirstAid_Before_3" />
        <activity android:name=".mothers.firstaid.FirstAid_Before_2" />
        <activity android:name=".mothers.firstaid.FirstAid_Before_1" />
        <activity android:name=".mothers.firstaid.FirstaidBeforeProsobActivity" />
        <activity android:name=".mothers.firstaid.Firstaid_after_3" />
        <activity android:name=".mothers.firstaid.Firstaid_after_2" />
        <activity android:name=".mothers.firstaid.Firstaid_after_1" />
        <activity android:name=".mothers.firstaid.FirstaidAfterProsobActivity" />
        <activity android:name=".mothers.FirstaidActivity" />
        <activity android:name=".mothers.firstaid.First_Aid_Home_Activity" />
        <activity android:name=".doctors.DoctorEditProfileActivity" />
        <activity android:name=".doctors.DoctorProfileActivity" />
        <activity android:name=".mothers.EditProfileActivity" />
        <activity android:name=".mothers.MotherProfile" />
        <activity android:name=".mothers.MotherHomeActivity" />
        <activity android:name=".doctors.DoctorHomeActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
